<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adm.css') }}">
</head>
<body>
    <h2>Opções</h2>
    <div class="options">
        <a href="{{ url_for('deletar') }}" title="Home">
            <div class="option">
                <p>Deletar Produtos</p>
            </div>
        </a>
        <a href="{{ url_for('inserir') }}" title="Home">
            <div class="option">
                <p>Adicionar Produtos</p>
            </div>
        </a>
        <a href="{{ url_for('editor') }}" title="Home">
            <div class="option">
                <p>Editar Produtos</p>
            </div>
        </a>
        <a href="{{ url_for('promocoes') }}" title="Home">
            <div class="option">
                <p>Promoções</p>
            </div>
        </a>
    </div>
    <script>
        var mensagem = "{{ mensagem }}";

        if (mensagem) {
            alert(mensagem);
        }
    </script>
</body>
</html>