<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar nome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addprodutos.css') }}">
</head>
<body>
    <form action="/editor/nome" method="post">
        <h2>Editar Nome</h2>

        <label>Código:</label>
        <div class="input">
            <input type="text" name="codigo" id="codigo" placeholder="Ex.: 1234567890123" required>
        </div>
        <label>Novo Nome:</label>
        <div class="input">
            <input type="text" name="nome" id="nome" placeholder="Ex.: Paracetamol" required>
        </div>
        <div id="btn">
            <button type="submit">Concluir</button>
        </div>
    </form>
</body>
</html>