<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promoções</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adm.css') }}">
</head>
<body>
    <h2>Promoções</h2>
    <div class="options">
        <a href="{{ url_for('promocoes_add') }}" title="Home">
            <div class="option">
                <p>Criar Promoção</p>
            </div>
        </a>
        <a href="{{ url_for('editor_valor') }}" title="Home">
            <div class="option">
                <p>Editar Promoção</p>
            </div>
        </a>
        <a href="{{ url_for('editor_nome') }}" title="Home">
            <div class="option">
                <p>Encerrar Promoção</p>
            </div>
        </a>
    </div>
</body>
</html>